/www/front/.vscode/
/bin/mysql/mysql5.7.31/data/
/logs/
/www/front/.angular/
/bin/apache/apache2.4.46/bin/
/bin/apache/apache2.4.46/lib/
/bin/apache/apache2.4.46/cgi-bin/
/bin/apache/apache2.4.46/error/
/bin/apache/apache2.4.46/icons/
/bin/apache/apache2.4.46/include/
/bin/apache/apache2.4.46/modules/
/bin/mariadb/
/bin/mysql/
/bin/php/
/lang/
/scripts/
/.idea/
/tmp/
/apps/
/www/wampthemes/
/www/wamplangues/
/unins000.dat
/unins000.exe
/uninstall_services.bat
/wamp64.iml
/wampmanager.conf
/wampmanager.exe
/wampmanager.ini
/wampmanager.tpl
/quit_wampserver.bat
/mariadb_mysql.txt
/licence.txt
/images_off.bmp
/changelog.txt
/barimage.bmp
/AeTrayMenu_3240_64Bits.zip
/AeTrayMenu.exe
/bin/apache/apache2.4.46/htdocs/
/bin/apache/apache2.4.46/logs/
/bin/apache/apache2.4.46/conf/original/
/bin/apache/apache2.4.46/conf/magic
/bin/apache/apache2.4.46/conf/mime.types
/bin/apache/apache2.4.46/conf/openssl.cnf
/bin/apache/apache2.4.46/conf/charset.conv
/bin/apache/apache2.4.46/conf/extra/proxy-html.conf
/bin/apache/apache2.4.46/conf/extra/httpd-userdir.conf
/bin/apache/apache2.4.46/conf/extra/httpd-ssl.conf
/bin/apache/apache2.4.46/conf/extra/httpd-multilang-errordoc.conf
/bin/apache/apache2.4.46/conf/extra/httpd-mpm.conf
/bin/apache/apache2.4.46/conf/extra/httpd-autoindex.conf
/bin/apache/apache2.4.46/conf/extra/httpd-dav.conf
/bin/apache/apache2.4.46/conf/extra/httpd-default.conf
/bin/apache/apache2.4.46/conf/extra/httpd-info.conf
/bin/apache/apache2.4.46/conf/extra/httpd-languages.conf
/bin/apache/apache2.4.46/conf/extra/httpd-manual.conf
/bin/apache/apache2.4.46/manual/
/bin/apache/apache2.4.46/ABOUT_APACHE.txt
/bin/apache/apache2.4.46/CHANGES.txt
/bin/apache/apache2.4.46/LICENSE.txt
/bin/apache/apache2.4.46/OPENSSL-NEWS.txt
/bin/apache/apache2.4.46/OPENSSL-README.txt
/bin/apache/apache2.4.46/wampserver.conf
/cgi-bin/
/alias/
/www/testmysql.php
/www/test_sockets.php
/www/add_vhost.php
