/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Arial', cursive;
  font-weight: 600;
  background-color: #fde4fa ;
}
html {
  background-color: #fde4fa ;
}
